---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
		<h2><a href="/"><i class="fa-solid fa-arrow-left-long"></i></a><br>Dr. J. R. Carpenter</h2>
		
		<p>is an artist, writer, and researcher working on questions of place, displacement, migration, and climate change across performance, print, and digital media. Her digital poem <em>The Gathering Cloud</em> won the New Media Writing Prize 2016. Her debut poetry collection <em>An Ocean of Static</em> was highly commended by the Forward Prizes 2018. Her most recent collection <em>This is a Picture of Wind</em> was listed in The Guardian’s Best Poetry Books of 2020. She was Writer in Residence at University of Alberta 2020-2021 and is currently a postdoctoral Research Fellow at Winchester School of Art.
		<br><br>
	
		<a href="https://luckysoap.com/"><i class="fa-solid fa-house"></i></a>
		</p>
    </main>
</div>
