---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
		<h2><a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa-solid fa-arrow-left-long"></i></a><br>The project</h2>
		
<p>How is wind perceived? Taking this question as a starting point, this project explores the nature of wind, drawing on research from across the Environmental Humanities and Media Studies. </p>

<p>Wind focalises the larger epistemological and ontological problems we face in light of climate change. Like climate, wind is not an immediate, conspicuous object of perception. Wind surrounds us and is experienced continuously in varying degrees of intensity, without ever appearing directly 'before our eyes'. Like climate, wind’s ephemeral nature–second only to barometric pressure–motivates a turn to instruments, measurement, calculation, abstraction, and modelling in order to arrive at an objective, scientific perspective on wind. Like climate, wind draws together different spatial and temporal scales. Local winds tie into global atmospheric circulation, becoming both an effect and agent of climate change, given their role in desertification, in changing circulation patterns, and intensifying storms.</p>

<p>In order to make sense of wind as something both experienced <em>and</em> measured, local <em>and</em> global, we explore the elemental nature of wind through three different perspectives: wind as model, media, and experience. We here follow Media Studies' recent turn toward the elemental.</p>

<p>Instructed by the phenomenon of wind, this project opens up new perspectives for refiguring the relationship between model, media, and experience in light of climatic changes across temporal and spatial scales. We then hope to contribute to a better understanding of experiences of climate change through the medium of wind.</p>
    </main>
</div>
