---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
		<h1><a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa-solid fa-arrow-left-long"></i></a><br>Events</h1>
		
		<p>
			<strong>May–October 2022</strong><br>
			<a href="https://antennenozeane.de/en/start-eng/">Forests of antennas, oceans of waves</a><br>
			<em>Berlin, Germany</em>
		</p>
		
		<p>
			<strong>24–25 September 2022</strong><br>
			<a href="https://www.vam.ac.uk/event/o4yDPovGW70/this-is-not-a-good-sign">“This is not a good sign”</a> at Digital Design Weekend<br>
			<em>V&A London, UK</em>
			
		
		<p>
			<strong>May/June 2023</strong><br>
			Wind Data Salon #1<br>
			<em>Potsdam, Germany</em>
		</p>
		
		<hr><h2>Keynotes</h2>
		
		<p>
			<strong>September 2022</strong><br>
			“Surface Sensing” (Jussi Parikka) at <em><br><a href="https://event.sdu.dk/machinevision">Aesthetics of Machine Vision</a></em>
		</p>
		
		<p>
			<strong>January 2023</strong><br>
			“Kräfte, Ströme, Strahlen: Luft als technisches Medium, Coference” (Birgit Schneider) at<em><br> <a href="https://www.hsozkult.de/event/id/event-128529">Medienökologien der Luft</a></em>
		</p>
		
		<hr><h2>Conferences & Exhibitions</h2>
		
		<p>
			<strong>23–25 September 2022</strong><br>
			<a href="https://antennenozeane.de/en/programme/">Forests of antennas, oceans of waves:<br>An exploration of art and theory in electromagnetic urban environments</a><br>
			<em>Berlin, Germany</em>
		</p>
		
		<p>
			<strong>26 September–4 October 2022</strong><br>
			<a href="https://tacticaltech.org/everything-will-be-fine-outdoor-exhibition-berlin/">Everything Will Be Fine, an outdoor exhibition</a><br>
			<em>Berlin, Germany</em>
		</p>
		
		<p>
			<strong>12–13 January 2023</strong><br>
			<a href="https://www.hsozkult.de/event/id/event-128529">Medienökologien der Luft:<br> Bild- und Geschichtstheorien der Unsichtbarkeiten</a><br>
			<em>Bielefeld, Germany</em>
		</p>
		
		<p>
			<strong>15-17 February 2023</strong><br>
			<a href="https://airproject.univie.ac.at/conferences/the-coronavirus-pandemic-an-environmental-humanities-perspective/">The Coronavirus Pandemic:<br> An Environmental Humanities Perspective</a><br>
			<em>Vienna, Austria</em>
		</p>
		
    </main>
</div>
