---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
       <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
		<!--  Social media
		<i class="fa-brands fa-twitter-square"></i> &nbsp;<i class="fa-brands fa-instagram-square"></i>
		-->
		<br><br><br>
		<img width="150" src="{{ site.url }}{{ site.baseurl }}/ahrc.png"> &nbsp;&nbsp; <img width="150" src="{{ site.url }}{{ site.baseurl }}/dfg.png"> 
		<br>
		
		<hr>
    </header>
    <main>
		<h2><a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa-solid fa-arrow-left-long"></i></a><br>Maximilian Gregor Hepach</h2>
		
		<p>is a postdoctoral researcher at the University of Potsdam and project coordinator of <em>Weather Reports</em>. He recently submitted his PhD thesis on the phenomenology of climate and its changes in Geography at the University of Cambridge. Most recently, he has published in the <a href="https://doi.org/10.1016/j.jhg.2022.04.003">Journal of Historical Geography</a> and <a href="https://doi.org/10.1177%2F0309132520987308">Progress in Human Geography</a>. His research interests include phenomenology, media theory, and cultural geography.
			<br><br>
		
			<a href="https://hepach.org/"><i class="fa-solid fa-house"></i></a>
		</p>
    </main>
</div>
