---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
		<h1><a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa-solid fa-arrow-left-long"></i></a><br>Publications</h1>
		
		<h2>Member publications</h2>
			Schneider, Birgit. “Atmo-Medien Und Atmo-Ästhetik Des Windes. Eine Geschichte Der Sichtbarmachungen Parahumaner Kräfte Durch Stellvertreter.” In <em><a href="https://www.verlag-koenigshausen-neumann.de/product_info.php/info/p9522_Parahumane-Bilder.html">Parahumane Bilder</a></em>, edited by Carolin Lano, Lars Nowak, Peter Podrez, and Nicole Wiedenmann. Würzburg: Königshausen und Neumann, 2021.
			
			<p>Schneider, Birgit. <a href="https://www.matthes-seitz-berlin.de/buch/klimabilder.html"><em>Klimabilder: Eine Genealogie globaler Bildpolitiken von Klima und Klimawandel.</a></em> Berlin: Matthes & Seitz, 2018.</p>
			
			<p>Schneider, Birgit. <a href="https://rgs-ibg.onlinelibrary.wiley.com/doi/full/10.1002/geo2.27">“Burning Worlds of Cartography: A Critical Approach to Climate Cosmograms of the Anthropocene.”</a> Geo: Geography and Environment 3, no. 2 (2016): e00027.</p>
			
		
		
		
		<hr><h2>Project publications</h2>
	</main>
</div>
