---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
		<h1><a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa-solid fa-arrow-left-long"></i></a><br>Publications</h1>
		
		<h2>Member publications</h2>
		
		<p>
			Schneider, Birgit. “Atmo-Medien Und Atmo-Ästhetik Des Windes. Eine Geschichte Der Sichtbarmachungen Parahumaner Kräfte Durch Stellvertreter.” In <em><a href="https://www.verlag-koenigshausen-neumann.de/product_info.php/info/p9522_Parahumane-Bilder.html">Parahumane Bilder</a></em>, edited by Carolin Lano, Lars Nowak, Peter Podrez, and Nicole Wiedenmann. Würzburg: Königshausen und Neumann, 2021.
		</p>
		
		<p>
			Schneider, Birgit. “Sublime Aesthetics in Times of Climate Crisis? A Critique.” In <em><a href="https://www.routledge.com/The-Routledge-Companion-to-Contemporary-Art-Visual-Culture-and-Climate/Demos-Scott-Banerjee/p/book/9780367221102">Routledge Companion to Contemporary Art, Visual Culture, and Climate Change</a></em>, edited by T. J. Demos, Emily Eliza Scott, and Subhankar Banerjee. London: Routledge, 2021.
		</p>
		
		<p>
			Hepach, Maximilian Gregor. <a href="https://www.thephilosopher1923.org/product-page/summer-2021-concept-and-reality">“Is Climate Real?”</a> The Philosopher 109, no. 3 (2021): 47–53.
		</p>
		
		<p>
			Bishop, Ryan, and Tania Roy. <a href="https://www.boundary2.org/2020/08/ryan-bishop-and-tania-roy-frictionless-sovereignty-and-the-oceanic-claim-bio-aesthetic-engagements/">“Frictionless Sovereignty and the Oceanic Claim: Bio-Aesthetic Engagements.”</a> Boundary 2online 5, no. 2 (2020).
		</p>
		
		<p>
			Carpenter, J.R. <a href="https://longbarrowpress.com/2020/06/30/this-is-a-picture-of-wind/"><em>This Is a Picture of Wind</em></a>. Sheffield: Longbarrow Press, 2020.
		</p>
		
		<p>
			Parikka, Jussi. <a href="https://muse.jhu.edu/article/760342">“A Recursive Web of Models: Studio Tomás Saraceno’s Working Objects as Environmental Humanities.”</a> Configurations. A Journal of Literature, Science, and Technology 28, no. 3 (2020): 309–32.
		</p>
			
			<p>
				Bishop, Ryan. <a href="https://read.dukeupress.edu/boundary-2/article-abstract/45/4/41/135704/Felo-de-seThe-Munus-of-Remote-Sensing">“Felo de Se: The Munus of Remote Sensing.”</a> Boundary 2online 45, no. 9 (2018): 41–63.
			</p>
			
			<p>
				Carpenter, J. R. <a href="https://luckysoap.com/apictureofwind/"><em>This Is a Picture of Wind</em></a>. 2018. Web-app.
			</p>
			
			<p>
				Hepach, Maximilian Gregor. <a href="https://muse.jhu.edu/article/701063">“A Phenomenology of Weather and Qi.”</a> Journal of Japanese Philosophy 5, no. 1 (2018): 43–65.
			</p>
			
			<p>
				Schneider, Birgit. <a href="https://www.matthes-seitz-berlin.de/buch/klimabilder.html"><em>Klimabilder: Eine Genealogie globaler Bildpolitiken von Klima und Klimawandel</a></em>. Berlin: Matthes & Seitz, 2018.
			</p>
			
			<p>
				Carpenter, J.R. <a href="https://www.uniformbooks.co.uk/thegatheringcloud.php"><em>The Gathering Cloud</em></a>. Devon: Uniformbooks, 2017.
			</p>
			
			<p>
				Parikka, Jussi. <a href="https://twentynine.fibreculturejournal.org/fcj-219-the-sensed-smog-smart-ubiquitous-cities-and-the-sensorial-body/">“The Sensed Smog: Smart Ubiquitous Cities and the Sensorial Body.”</a> Fibreculture 29 (2017).
			</p>
			
			<p>
				Bishop, Ryan “Smart Dust and Remote Sensing: The Political Subject in Autonomous Systems.” In <a href="https://academic.oup.com/edinburgh-scholarship-online/book/22165"><em>Cold War Legacies: Systems, Theory, Aesthetic</em></a>, edited by J Beck and R Bishop, 273–88. Edinburgh: Edinburgh University Press, 2016.
			</p>
			
			<p>
				Carpenter, J. R. <a href="https://luckysoap.com/thegatheringcloud."><em>The Gathering Cloud</em></a>. 2016. Web.
			</p>
			
			<p>
				Schneider, Birgit. <a href="https://rgs-ibg.onlinelibrary.wiley.com/doi/full/10.1002/geo2.27">“Burning Worlds of Cartography: A Critical Approach to Climate Cosmograms of the Anthropocene.”</a> Geo: Geography and Environment 3, no. 2 (2016): e00027.
			</p>
			
			<p>
				Parikka, Jussi. <a href="https://www.upress.umn.edu/book-division/books/a-geology-of-media"><em>A Geology of Media</em></a>. Minneapolis, MN: University of Minnesota Press, 2015.
			</p>
		
			
		
		
		
		<hr><h2>Project publications</h2>
	</main>
</div>
