---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
       <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
		<!--  Social media
		<i class="fa-brands fa-twitter-square"></i> &nbsp;<i class="fa-brands fa-instagram-square"></i>
		-->
		<br><br><br>
		<img width="150" src="{{ page.baseurl }}ahrc.png"> &nbsp;&nbsp; <img width="150" src="{{ page.baseurl }}dfg.png"> 
		<br>
		
		<hr>
    </header>
    <main>
		<h1><a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa-solid fa-arrow-left-long"></i></a><br>Related projects</h1>
		<ul>
			<li><a href="https://an-icon.unimi.it">An-Iconology: History, Theory, and Practices of Environmental Images</a></li>
			<li><a href="https://cc.au.dk/en/dafed/">Design and Aesthetics for Environmental Data</a><br>(Jussi Parikka)</li>
			<li><a href="http://monass.org">Monsoon Assemblages</a></li>
			<li><a href="http://www.soundofnature.eu/">The Sound of Nature: Soundscapes and Environmental Awareness, 1750-1950</a></li>
			<li><a href="https://not-a-good-sign.com">This is not a good sign: an AR poetry project</a><br> (JR Carpenter)</li>
			<li><a href="https://www.onassis.org/art/collections/weather-engines">Weather Engines</a><br>(Jussi Parikka, Birgit Schneider)</li>	
			<li><a href="https://worldweathernetwork.org/about/">World Weather Network</a><br>(Jussi Parikka, JR Carpenter) </li>
		</ul>
    </main>
</div>
