<h2>About</h2>
<p>How is wind perceived? In this AHRC & DFG funded, interdisciplinary research project, we investigate the nature of wind as <em>model</em>, <em>media</em>, and <em>experience</em>, triangulating embodied experience, data practices, and aesthetic production. Our aim is to contribute to a better understanding of <em>what</em> changes with climate change through the medium of wind <strong><a href="detail">...</a></p></strong>

<center><i class="fa-solid fa-wind"></i></center>

<div class="bios">
<h2>Members</h2>
<p>
<strong>Prof. Ryan <a href="/bishop">Bishop</a></strong>
<br>
<em>University of Southampton</em>
</p>

<strong><p>Prof. Jussi <a href="/Parikka">Parikka</a><br>
</strong>
<em>Aarhus University</em>
</p>

<p>
<strong>Prof. Birgit <a href="/schneider">Schneider</strong></a>
<br>
<em>University of Potsdam</em>
</p>

<p>
<strong>Dr. JR <a href="/carpenter">Carpenter</strong></a>
<br>
<em>University of Southampton</em>
</p>

<p>
<strong>Maximilian Gregor <a href="/hepach">Hepach</strong></a>
<br>
<em>University of Potsdam</em>
</p>

</div>

<center><i class="fa-solid fa-wind"></i></center>


<a href="/events"><h2>Events</h2></a>

<a href="/relatedprojects"><h2>Related projects</h2></a>

<a href="/publications"><h2>Publications</h2></a>



<!--  <center><i class="fa-solid fa-wind"></i></center>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
<li class="main-list-item"> 
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li> 
</ul>
--->