<h2>About</h2>
<p>How is wind perceived? In this AHRC & DFG funded, interdisciplinary research project, we investigate the nature of wind as <em>model</em>, <em>media</em>, and <em>experience</em>, triangulating embodied experience, data practices, and aesthetic production. Our aim is to contribute to a better understanding of <em>what</em> changes with climate change through the medium of wind...  <strong><a href="{{ site.url }}{{ site.baseurl }}/detail">see more</a></p></strong>

<br><center><i class="fa-solid fa-wind fa-fade" style="--fa-animation-duration: 10s; --fa-fade-opacity: 0.1;"></i></center><br>

<div class="bios">
<h2>Members</h2>
<p>
<strong>Prof. Ryan <a href="{{ site.url }}{{ site.baseurl }}/bishop">Bishop</a></strong>
<br>
<em>University of Southampton</em>
</p>

<p>
<strong>Prof. Birgit <a href="{{ site.url }}{{ site.baseurl }}/schneider">Schneider</strong></a>
<br>
<em>University of Potsdam</em>
</p>

<strong><p>Prof. Jussi <a href="{{ site.url }}{{ site.baseurl }}/parikka">Parikka</a><br>
</strong>
<em>University of Southampton <br>& Aarhus University</em>
</p>

<p>
<strong>Dr. JR <a href="{{ site.url }}{{ site.baseurl }}/carpenter">Carpenter</strong></a>
<br>
<em>University of Southampton</em>
</p>

<p>
<strong>Maximilian Gregor <a href="{{ site.url }}{{ site.baseurl }}/hepach">Hepach</strong></a>
<br>
<em>University of Potsdam</em>
</p>

</div>

<hr>


<a href="{{ site.url }}{{ site.baseurl }}/events"><h2>Events</h2></a>

<a href="{{ site.url }}{{ site.baseurl }}/relatedprojects"><h2>Related projects</h2></a>

<a href="{{ site.url }}{{ site.baseurl }}/publications"><h2>Publications</h2></a>


<!--  <center><i class="fa-solid fa-wind"></i></center>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
<li class="main-list-item"> 
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li> 
</ul>
--->